# Rails
rails-app/*.sqlite3
rails-app/log/*
rails-app/tmp/*
rails-app/storage/*
rails-app/.byebug_history
rails-app/config/master.key
rails-app/node_modules/
rails-app/public/assets/
rails-app/.bundle
rails-app/vendor/bundle/
rails-app/db/*.sqlite3-*
rails-app/db/*.sqlite3-journal

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
android-app/*.iml
android-app/.externalNativeBuild
android-app/captures/
android-app/.cxx/
android-app/*.apk
android-app/*.aab
android-app/*.ap_
android-app/*.dex

# iOS / Xcode
ios-app/build/
ios-app/DerivedData/
ios-app/*.pbxuser
ios-app/!default.pbxuser
ios-app/*.mode1v3
ios-app/!default.mode1v3
ios-app/*.mode2v3
ios-app/!default.mode2v3
ios-app/*.perspectivev3
ios-app/!default.perspectivev3
ios-app/xcuserdata/
ios-app/*.xccheckout
ios-app/*.moved-aside
ios-app/*.xcuserstate
ios-app/*.xcscmblueprint
ios-app/*.xcworkspace
ios-app/.swiftpm/
ios-app/.build/
ios-app/Pods/
ios-app/*.ipa
ios-app/*.dSYM.zip
ios-app/*.dSYM

# OS files
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.vscode/
.project
.classpath
.settings/